[submodule "themes/reimu"]
	path = themes/reimu
	url = https://github.com/D-Sketon/hugo-theme-reimu.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
